name: Update Manifest Workflow

on:
  workflow_dispatch:
    inputs:
      user_input_version:
        description: 'Version /tag to target'
  release:
    types: [released, published]

jobs:
  generate_updater_json:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - env:
          GH_TOKEN: ${{ github.token }}
          # RELEASE_EVENT: ${{github.event.release}}
          RELEASE_TAG: ${{github.event.inputs.user_input_version}}
        run: |
          cd ./scripts
          npm ci
          ls -lahtr
          node ./updater_template.js
      - uses: actions/upload-artifact@v3.1.2
        with:
          name: sad_updater.json
          path: ./scripts/sad_updater.json
          if-no-files-found: error

  upload_updater_json_to_s3:
    runs-on: ubuntu-latest
    needs: [generate_updater_json]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/download-artifact@v2.1.1
      - run: ls -lahtr
      - run: pwd
      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_SAD_UPLOADER_ROLE }}
      # use recursive: https://github.com/aws/aws-cli/issues/2929
      - run: aws s3 cp sad_updater.json s3://simple-android-debloater --recursive
